html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-family: 'Neucha', cursive;
	background: #f3f3f3;
}

/* HOME */
.Home-page{
	height: 600px;
	background-size: cover;
	margin-bottom: 60px;
	background-image: url("./images/la.jpg");
	
	
}




.Home-page h1{
	font-size: 65px;
	text-align: center;
	padding-top: 100px;
	color: white;
}

/* NAVIGATION */

.nav{
  display: flex;
	justify-content: space-between;
	padding: 0 100px;
	transition: 0.2s ease-in;
	background-color:#1F1C1A;
}
.nav a{
  color: white;
		text-decoration: none;
		padding: 30px 20px;
}
.nav a:hover{
	color: #CD9567;
}

.nav span{
  display: inline-block;
			position: relative;
			top: -8px;
			left: 0px;
			font-weight: bold;
			line-height: 18px;
			text-align: center;
			background: #CD9567;
			border-radius: 100%;
			width: 18px;
			height: 18px;
}
.nav span:hover{
	color:#CD9567;
	background-color: white;
}

/* ITEMS */

.item{
  border-radius: 5px;
	background: white;
	transition: 0.2s ease-in-out;
	width: 333px;
	margin: 30px;
}

.item:hover{
  box-shadow: 0px 5px 37px -22px rgba(0, 0, 0, 1);
}

.title {
  font-weight: bold;
  margin: 10px 0 0 25px;
}

.price {
  margin-left: 25px;
  padding: 5px 0;
}

.shop-btn{
  border-radius: 5px;
  border: 1px solid #CD9567;
  padding: 10px;
  background: transparent;
  transition: 0.15s ease-in-out;
  margin: 10px 0;
  color: #CD9567;
  margin-left: 25px;

}

.shop-btn:hover {
  cursor: pointer;
  background: #CD9567;
  color: white;
}

.items-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	margin: 0 auto;
}

/* CART */

.shopping-cart {
	display: block;
	margin: 0 auto;
	background: white;
	border-radius: 5px;
}

.shopping-cart-checkout {
  margin: 30px 0;
  border-top: 1px solid lightgray;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #141618;
  color: white;
}

.shopping-cart-checkout button{
 
	border-radius: 5px;
	border: 1px solid #CD9567;
	padding: 10px;
	background: transparent;
	transition: 0.15s ease-in-out;
	margin: 10px 0;
	color: #CD9567;
	margin-left: 25px;

}
.shopping-cart-checkout button:hover{
 
	border-radius: 5px;
	border: 1px solid white;
	padding: 10px;
	background: transparent;
	transition: 0.15s ease-in-out;
	margin: 10px 0;
	color: white;
	margin-left: 25px;

}
.shopping-cart_item{
	margin:5%;
	padding:2%;
}
.remove button{
 
	border-radius: 5px;
	border: 1px solid #CD9567;
	padding: 10px;
	background: transparent;
	transition: 0.15s ease-in-out;
	margin: 10px 0;
	color: #CD9567;
	margin-left: 25px;

}
.More-info{
	max-width: 100%;
	margin:8%;
	border-bottom: 2px solid black;
}

.More-info h2{
	font-size: 35px;
	text-align: center;
}
